<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.test.activiti.mapper.OALeaveMapper">
    
	<sql id="oALeaveColumns">
		a.id AS "id",
		a.proc_ins_id AS "procInsId",
		a.leave_type AS "leaveType",
		a.start_time AS "startTime",
		a.end_time AS "endTime",
		a.reason AS "reason",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="oALeaveJoins">
		
		LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by
	</sql>
	
    <resultMap type="OALeave" id="OALeaveResult" autoMapping="true">
    	<result column="reason" property="reason"   typeHandler="com.jeeplus.core.mapper.ConvertBlobTypeHandler"/>
    </resultMap>
    
	<select id="get" resultMap="OALeaveResult" >
		SELECT 
			<include refid="oALeaveColumns"/>
		FROM test_activiti_leave a
		<include refid="oALeaveJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultMap="OALeaveResult" >
		SELECT 
			<include refid="oALeaveColumns"/>
		FROM test_activiti_leave a
		<include refid="oALeaveJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultMap="OALeaveResult" >
		SELECT 
			<include refid="oALeaveColumns"/>
		FROM test_activiti_leave a
		<include refid="oALeaveJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO test_activiti_leave(
			id,
			proc_ins_id,
			leave_type,
			start_time,
			end_time,
			reason,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{procInsId},
			#{leaveType},
			#{startTime},
			#{endTime},
			#{reason},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE test_activiti_leave SET 	
			proc_ins_id = #{procInsId},
			leave_type = #{leaveType},
			start_time = #{startTime},
			end_time = #{endTime},
			reason = #{reason},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM test_activiti_leave
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE test_activiti_leave SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OALeave" statementType="STATEMENT">
		select * FROM test_activiti_leave  where ${propertyName} = '${value}'
	</select>
	
</mapper>