<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.BalanceSaleDetailMapper">
    
	<sql id="balanceSaleDetailColumns">
		a.id AS "id",
		a.balance_sale_id AS "balanceSale.id",
		a.sale_no AS "saleNo",
		a.order_no AS "orderNo",
		a.sale_price AS "salePrice",
		a.product_no AS "productNo",
		a.group_no AS "groupNo",
		a.office_no AS "officeNo",
		a.cost_price AS "costPrice",
		a.amount AS "amount",
		a.unit AS "unit",
		a.is_return AS "isReturn",
		a.tax AS "tax",
		a.orgin_price AS "originPrice",
		a.real_price AS "realPrice",
		a.product_name AS "productName",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="balanceSaleDetailJoins">
		
			LEFT JOIN c_balance_sale b ON b.id = a.balance_sale_id
	</sql>
	
    
	<select id="get" resultType="BalanceSaleDetail" >
		SELECT 
			<include refid="balanceSaleDetailColumns"/>
		FROM c_balance_sale_detail a
		<include refid="balanceSaleDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BalanceSaleDetail" >
		SELECT 
			<include refid="balanceSaleDetailColumns"/>
		FROM c_balance_sale_detail a
		<include refid="balanceSaleDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="balanceSale != null and balanceSale.id != null and balanceSale.id != ''">
				AND a.balance_sale_id = #{balanceSale.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.order_no ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BalanceSaleDetail" >
		SELECT 
			<include refid="balanceSaleDetailColumns"/>
		FROM c_balance_sale_detail a
		<include refid="balanceSaleDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO c_balance_sale_detail(
			id,
			balance_sale_id,
			sale_no,
			order_no,
			sale_price,
			product_no,
			group_no,
			office_no,
			cost_price,
			amount,
			unit,
			is_return,
			tax,
			orgin_price,
			real_price,
			product_name,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{balanceSale.id},
			#{saleNo},
			#{orderNo},
			#{salePrice},
			#{productNo},
			#{groupNo},
			#{officeNo},
			#{costPrice},
			#{amount},
			#{unit},
			#{isReturn},
			#{tax},
			#{originPrice},
			#{realPrice},
			#{productName},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE c_balance_sale_detail SET 	
			balance_sale_id = #{balanceSale.id},
			sale_no = #{saleNo},
			order_no = #{orderNo},
			sale_price = #{salePrice},
			product_no = #{productNo},
			group_no = #{groupNo},
			office_no = #{officeNo},
			cost_price = #{costPrice},
			amount = #{amount},
			unit = #{unit},
			is_return = #{isReturn},
			tax = #{tax},
			orgin_price = #{originPrice},
			real_price = #{realPrice},
			product_name = #{productName},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM c_balance_sale_detail
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE balance_sale_id = #{balanceSale.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE c_balance_sale_detail SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE balance_sale_id = #{balanceSale.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BalanceSaleDetail" statementType="STATEMENT">
		select * FROM c_balance_sale_detail  where ${propertyName} = '${value}'
	</select>
	
</mapper>