<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.BalanceMapper">
    
	<sql id="balanceColumns">
		a.id AS "id",
		a.no AS "no",
		a.name AS "name",
		a.store_id AS "office.id",
		a.base_unit AS "baseUnit",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
				
		office.name AS "office.name"
	</sql>
	
	<sql id="balanceJoins">
		
		LEFT JOIN sys_office office ON office.id = a.store_id
	</sql>
	
    
	<select id="get" resultType="Balance" >
		SELECT 
			<include refid="balanceColumns"/>
		FROM c_balance a
		<include refid="balanceJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Balance" >
		SELECT 
			<include refid="balanceColumns"/>
		FROM c_balance a
		<include refid="balanceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="no != null and no != ''">
				AND a.no LIKE 
					<if test="dbName == 'oracle'">'%'||#{no}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{no}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{no},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Balance" >
		SELECT 
			<include refid="balanceColumns"/>
		FROM c_balance a
		<include refid="balanceJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO c_balance(
			id,
			no,
			name,
			store_id,
			base_unit,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{no},
			#{name},
			#{office.id},
			#{baseUnit},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE c_balance SET 	
			no = #{no},
			name = #{name},
			store_id = #{office.id},
			base_unit = #{baseUnit},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM c_balance
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE c_balance SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Balance" statementType="STATEMENT">
		select * FROM c_balance  where ${propertyName} = '${value}'
	</select>
	
</mapper>