<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.BalanceSaleMapper">
    
	<sql id="balanceSaleColumns">
		a.id AS "id",
		a.sale_id AS "saleId",
		a.sale_no AS "saleNo",
		a.balance_no AS "balanceNo",
		a.sale_time AS "saleTime",
		a.whole_no AS "wholeNo",
		a.current_no AS "currentNo",
		a.seller_no AS "sellerNo",
		a.buyer_card_no AS "buyerCardNo",
		a.real_pay AS "realPay",
		a.money_pay AS "moneyPay",
		a.card_pay AS "cardPay",
		a.is_regular_sale AS "isRegularSale",
		a.seller_card_no AS "sellerCardNo",
		a.pay_type AS "payType",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.status AS "status"
	</sql>
	
	<sql id="balanceSaleJoins">
		
	</sql>
	
    
	<select id="get" resultType="BalanceSale" >
		SELECT 
			<include refid="balanceSaleColumns"/>
		FROM c_balance_sale a
		<include refid="balanceSaleJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="BalanceSale" >
		SELECT 
			<include refid="balanceSaleColumns"/>
		FROM c_balance_sale a
		<include refid="balanceSaleJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="saleId != null and saleId != ''">
				AND a.sale_id LIKE 
					<if test="dbName == 'oracle'">'%'||#{saleId}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{saleId}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{saleId},'%')</if>
			</if>
			<if test="saleNo != null and saleNo != ''">
				AND a.sale_no LIKE 
					<if test="dbName == 'oracle'">'%'||#{saleNo}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{saleNo}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{saleNo},'%')</if>
			</if>
			<if test="balanceNo != null and balanceNo != ''">
				AND a.balance_no LIKE 
					<if test="dbName == 'oracle'">'%'||#{balanceNo}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{balanceNo}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{balanceNo},'%')</if>
			</if>
			<if test="beginSaleTime != null and endSaleTime != null ">
				AND a.sale_time BETWEEN #{beginSaleTime} AND #{endSaleTime}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="BalanceSale" >
		SELECT 
			<include refid="balanceSaleColumns"/>
		FROM c_balance_sale a
		<include refid="balanceSaleJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO c_balance_sale(
			id,
			sale_id,
			sale_no,
			balance_no,
			sale_time,
			whole_no,
			current_no,
			seller_no,
			buyer_card_no,
			real_pay,
			money_pay,
			card_pay,
			is_regular_sale,
			seller_card_no,
			pay_type,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			status
		) VALUES (
			#{id},
			#{saleId},
			#{saleNo},
			#{balanceNo},
			#{saleTime},
			#{wholeNo},
			#{currentNo},
			#{sellerNo},
			#{buyerCardNo},
			#{realPay},
			#{moneyPay},
			#{cardPay},
			#{isRegularSale},
			#{sellerCardNo},
			#{payType},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{status}
		)
	</insert>
	
	<update id="update">
		UPDATE c_balance_sale SET 	
			sale_id = #{saleId},
			sale_no = #{saleNo},
			balance_no = #{balanceNo},
			sale_time = #{saleTime},
			whole_no = #{wholeNo},
			current_no = #{currentNo},
			seller_no = #{sellerNo},
			buyer_card_no = #{buyerCardNo},
			real_pay = #{realPay},
			money_pay = #{moneyPay},
			card_pay = #{cardPay},
			is_regular_sale = #{isRegularSale},
			seller_card_no = #{sellerCardNo},
			pay_type = #{payType},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			status = #{status}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM c_balance_sale
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE c_balance_sale SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="BalanceSale" statementType="STATEMENT">
		select * FROM c_balance_sale  where ${propertyName} = '${value}'
	</select>
	
</mapper>