<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.FinancialMapper">
    
	<sql id="financialColumns">
		a.id AS "id",
		a.type AS "type",
		a.purchase_amount AS "purchaseAmount",
		a.stock_amount AS "stockAmount",
		a.wholesale_amount AS "wholesaleAmount",
		a.retail_amount AS "retailAmount",
		a.return_amount AS "returnAmount",
		a.wholesale_gather_amount AS "wholesaleGatherAmount",
		a.retail_gather_amount AS "retailGatherAmount",
		a.gather_amount AS "gatherAmount",
		a.stock_bill_amount AS "stockBillAmount",
		a.return_bill_amount AS "returnBillAmount",
		a.bill_amount AS "billAmount",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
				
				
				
				
				
				
				
				
				
				
				
		createBy.name AS "createBy.name",
				
				
		updateBy.name AS "updateBy.name"
	</sql>
	
	<sql id="financialJoins">
		
		LEFT JOIN sys_user createBy ON createBy.id = a.create_by
		LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by
	</sql>
	
    
	<select id="get" resultType="Financial" >
		SELECT 
			<include refid="financialColumns"/>
		FROM j_financial a
		<include refid="financialJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Financial" >
		SELECT 
			<include refid="financialColumns"/>
		FROM j_financial a
		<include refid="financialJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="beginCreateDate != null and endCreateDate != null ">
				AND a.create_date BETWEEN #{beginCreateDate} AND #{endCreateDate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Financial" >
		SELECT 
			<include refid="financialColumns"/>
		FROM j_financial a
		<include refid="financialJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO j_financial(
			id,
			type,
			purchase_amount,
			stock_amount,
			wholesale_amount,
			retail_amount,
			return_amount,
			wholesale_gather_amount,
			retail_gather_amount,
			gather_amount,
			stock_bill_amount,
			return_bill_amount,
			bill_amount,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{type},
			#{purchaseAmount},
			#{stockAmount},
			#{wholesaleAmount},
			#{retailAmount},
			#{returnAmount},
			#{wholesaleGatherAmount},
			#{retailGatherAmount},
			#{gatherAmount},
			#{stockBillAmount},
			#{returnBillAmount},
			#{billAmount},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE j_financial SET 	
			type = #{type},
			purchase_amount = #{purchaseAmount},
			stock_amount = #{stockAmount},
			wholesale_amount = #{wholesaleAmount},
			retail_amount = #{retailAmount},
			return_amount = #{returnAmount},
			wholesale_gather_amount = #{wholesaleGatherAmount},
			retail_gather_amount = #{retailGatherAmount},
			gather_amount = #{gatherAmount},
			stock_bill_amount = #{stockBillAmount},
			return_bill_amount = #{returnBillAmount},
			bill_amount = #{billAmount},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM j_financial
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE j_financial SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Financial" statementType="STATEMENT">
		select * FROM j_financial  where ${propertyName} = '${value}'
	</select>
	
	<select id="queryFinancialByTime" resultType="Financial">
		SELECT * FROM 
			(SELECT COALESCE(SUM(o.sum), 0) as purchase_amount FROM j_purchase_order o WHERE o.del_flag = 0 and o.status = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) a_t,
			(SELECT COALESCE(SUM(o.sum), 0) as stock_amount FROM j_stock_order o WHERE o.del_flag = 0 AND o.status = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) b_t,
			(SELECT COALESCE(SUM(o.sum), 0) as wholesale_amount FROM j_sale_order o WHERE o.del_flag = 0 AND o.status = 1 AND o.type = 2 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) c_t,
			(SELECT COALESCE(SUM(o.sum), 0) as retail_amount FROM j_sale_order o WHERE o.del_flag = 0 AND o.status = 1 AND o.type = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) d_t,
			(SELECT COALESCE(SUM(o.sum), 0) as return_amount FROM j_return_order o WHERE o.del_flag = 0 AND o.status = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) e_t,
			(SELECT COALESCE(SUM(o.receive_money), 0) as wholesale_gather_amount FROM j_revenue_order o LEFT JOIN j_sale_order s on o.sale_no = s.id WHERE o.del_flag = 0 and o.status = 1 AND s.type = 2 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) f_t, 
			(SELECT COALESCE(SUM(o.receive_money), 0) as retail_gather_amount FROM j_revenue_order o LEFT JOIN j_sale_order s on o.sale_no = s.id WHERE o.del_flag = 0 and o.status = 1 AND s.type = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) g_t,
			(SELECT COALESCE(SUM(o.receive_money), 0) as gather_amount FROM j_revenue_order o LEFT JOIN j_sale_order s on o.sale_no = s.id WHERE o.del_flag = 0 and o.status = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) h_t,
			(SELECT COALESCE(SUM(o.pay_money), 0) as stock_bill_amount FROM j_bill_order o WHERE o.del_flag = 0 AND o.status = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) i_t,
			(SELECT COALESCE(SUM(o.return_money), 0) as return_bill_amount FROM j_return_bill o WHERE o.del_flag = 0 AND o.status = 1 AND o.update_date BETWEEN #{beginDate} AND #{endDate}) j_t
			
	</select>
</mapper>