<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.OperOrderPayMapper">
    
	<sql id="operOrderPayColumns">
		a.id AS "id",
		a.oper_order_id AS "operOrder.id",
		a.pay_type AS "payType",
		a.price AS "price",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag"
	</sql>
	
	<sql id="operOrderPayJoins">
		
			LEFT JOIN c_oper_order b ON b.id = a.oper_order_id
	</sql>
	
    
	<select id="get" resultType="OperOrderPay" >
		SELECT 
			<include refid="operOrderPayColumns"/>
		FROM c_oper_order_pay a
		<include refid="operOrderPayJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="OperOrderPay" >
		SELECT 
			<include refid="operOrderPayColumns"/>
		FROM c_oper_order_pay a
		<include refid="operOrderPayJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="operOrder != null and operOrder.id != null and operOrder.id != ''">
				AND a.oper_order_id = #{operOrder.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="OperOrderPay" >
		SELECT 
			<include refid="operOrderPayColumns"/>
		FROM c_oper_order_pay a
		<include refid="operOrderPayJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO c_oper_order_pay(
			id,
			oper_order_id,
			pay_type,
			price,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{operOrder.id},
			#{payType},
			#{price},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE c_oper_order_pay SET 	
			oper_order_id = #{operOrder.id},
			pay_type = #{payType},
			price = #{price},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM c_oper_order_pay
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE oper_order_id = #{operOrder.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE c_oper_order_pay SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE oper_order_id = #{operOrder.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="OperOrderPay" statementType="STATEMENT">
		select * FROM c_oper_order_pay  where ${propertyName} = '${value}'
	</select>
	
</mapper>