<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.ReportMapper">
    
	<sql id="reportColumns">
		a.id AS "id",
		a.title AS "title",
		a.date AS "date",
		a.store_id AS "store.id",
		a.sale_in AS "saleIn",
		a.sale_real_in AS "saleRealIn",
		a.sale_benefit AS "saleBenefit",
		a.purchase_out AS "purchaseOut",
		a.purchase_real_out AS "purchaseRealOut",
		a.return_pay AS "returnPay",
		a.return_real_pay AS "returnRealPay",
		a.old_debt_in AS "oldDebtIn",
		a.old_debt_out AS "oldDebtOut",
		a.balance_in AS "balanceIn",
		a.total_in AS "totalIn",
		a.wx_pay AS "wxPay",
		a.ali_pay AS "aliPay",
		a.bank_pay AS "bankPay",
		a.money_pay AS "moenyPay",
		a.wx_pay_out AS "wxPayOut",
		a.ali_pay_out AS "aliPayOut",
		a.bank_pay_out AS "bankPayOut",
		a.money_pay_out AS "moenyPayOut",
		a.total_real_in AS "totalRealIn",
		a.total_real_out AS "totalRealOut",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
				
		store.name AS "store.name"
	</sql>
	
	<sql id="reportJoins">
		
		LEFT JOIN c_store store ON store.id = a.store_id
	</sql>
	
    
	<select id="get" resultType="Report" >
		SELECT 
			<include refid="reportColumns"/>
		FROM c_report a
		<include refid="reportJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Report" >
		SELECT 
			<include refid="reportColumns"/>
		FROM c_report a
		<include refid="reportJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="title != null and title != ''">
				AND a.title LIKE 
					<if test="dbName == 'oracle'">'%'||#{title}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{title}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{title},'%')</if>
			</if>
			<if test="date != null and date != ''">
				AND a.date LIKE 
					<if test="dbName == 'oracle'">'%'||#{date}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{date}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{date},'%')</if>
			</if>
			<if test="store != null and store.id != null and store.id != ''">
				AND a.store_id = #{store.id}
			</if>
			<if test="beginCreateDate != null and endCreateDate != null ">
				AND a.create_date BETWEEN #{beginCreateDate} AND #{endCreateDate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Report" >
		SELECT 
			<include refid="reportColumns"/>
		FROM c_report a
		<include refid="reportJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO c_report(
			id,
			title,
			date,
			store_id,
			sale_in,
			sale_real_in,
			sale_benefit,
			purchase_out,
			purchase_real_out,
			return_pay,
			return_real_pay,
			old_debt_in,
			old_debt_out,
			balance_in,
			total_in,
			wx_pay,
			ali_pay,
			bank_pay,
			money_pay,
			wx_pay_out,
			ali_pay_out,
			bank_pay_out,
			money_pay_out,
			total_real_in,
			total_real_out,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{title},
			#{date},
			#{store.id},
			#{saleIn},
			#{saleRealIn},
			#{saleBenefit},
			#{purchaseOut},
			#{purchaseRealOut},
			#{returnPay},
			#{returnRealPay},
			#{oldDebtIn},
			#{oldDebtOut},
			#{balanceIn},
			#{totalIn},
			#{wxPay},
			#{aliPay},
			#{bankPay},
			#{moenyPay},
			#{wxPayOut},
			#{aliPayOut},
			#{bankPayOut},
			#{moenyPayOut},
			#{totalRealIn},
			#{totalRealOut},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE c_report SET 	
			title = #{title},
			date = #{date},
			store_id = #{store.id},
			sale_in = #{saleIn},
			sale_real_in = #{saleRealIn},
			sale_benefit = #{saleBenefit},
			purchase_out = #{purchaseOut},
			purchase_real_out = #{purchaseRealOut},
			return_pay = #{returnPay},
			return_real_pay = #{returnRealPay},
			old_debt_in = #{oldDebtIn},
			old_debt_out = #{oldDebtOut},
			balance_in = #{balanceIn},
			total_in = #{totalIn},
			wx_pay = #{wxPay},
			ali_pay = #{aliPay},
			bank_pay = #{bankPay},
			money_pay = #{moenyPay},
			wx_pay_out = #{wxPayOut},
			ali_pay_out = #{aliPayOut},
			bank_pay_out = #{bankPayOut},
			money_pay_out = #{moenyPayOut},
			total_real_in = #{totalRealIn},
			total_real_out = #{totalRealOut},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM c_report
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE c_report SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Report" statementType="STATEMENT">
		select * FROM c_report  where ${propertyName} = '${value}'
	</select>
	
</mapper>