<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.RevenueOrderMapper">
    
	<sql id="revenueOrderColumns">
		a.id AS "id",
		a.no AS "no",
		a.sale_no AS "saleOrder.id",
		a.receive_money AS "receiveMoney",
		a.real_money AS "realMoney",
		a.status AS "status",
		a.approve_date AS "approveDate",
		a.cancel_date AS "cancelDate",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
		saleOrder.no AS "saleOrder.no",
		saleOrder.type AS "saleOrder.type",
				
				
				
				
				
		createBy.name AS "createBy.name",
				
				
		updateBy.name AS "updateBy.name"
	</sql>
	
	<sql id="revenueOrderJoins">
		
		LEFT JOIN j_sale_order saleOrder ON saleOrder.id = a.sale_no
		LEFT JOIN sys_user createBy ON createBy.id = a.create_by
		LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by
	</sql>
	
    
	<select id="get" resultType="RevenueOrder" >
		SELECT 
			<include refid="revenueOrderColumns"/>
		FROM j_revenue_order a
		<include refid="revenueOrderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="RevenueOrder" >
		SELECT 
			<include refid="revenueOrderColumns"/>
		FROM j_revenue_order a
		<include refid="revenueOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="no != null and no != ''">
				AND a.no LIKE 
					<if test="dbName == 'oracle'">'%'||#{no}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{no}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{no},'%')</if>
			</if>
			<if test="saleOrder != null and saleOrder.no != null and saleOrder.no != ''">
				AND saleOrder.no LIKE 
					<if test="dbName == 'oracle'">'%'||#{saleOrder.no}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{saleOrder.no}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{saleOrder.no},'%')</if>
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="RevenueOrder" >
		SELECT 
			<include refid="revenueOrderColumns"/>
		FROM j_revenue_order a
		<include refid="revenueOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO j_revenue_order(
			id,
			no,
			sale_no,
			receive_money,
			real_money,
			status,
			approve_date,
			cancel_date,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{no},
			#{saleOrder.id},
			#{receiveMoney},
			#{realMoney},
			#{status},
			#{approveDate},
			#{cancelDate},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE j_revenue_order SET 	
			no = #{no},
			sale_no = #{saleOrder.id},
			receive_money = #{receiveMoney},
			real_money = #{realMoney},
			status = #{status},
			approve_date = #{approveDate},
			cancel_date = #{cancelDate},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM j_revenue_order
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE j_revenue_order SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="RevenueOrder" statementType="STATEMENT">
		select * FROM j_revenue_order  where ${propertyName} = '${value}'
	</select>
	
</mapper>