<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.StockOrderMapper">
    
	<sql id="stockOrderColumns">
		a.id AS "id",
		a.no AS "no",
		a.purchase_order_no AS "purchaseOrder.id",
		a.sum AS "sum",
		a.status AS "status",
		a.approve_date AS "approveDate",
		a.cancel_date AS "cancelDate",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
		purchaseOrder.no AS "purchaseOrder.no",
				
				
				
				
				
		createBy.name AS "createBy.name",
				
				
		updateBy.name AS "updateBy.name"
	</sql>
	
	<sql id="stockOrderJoins">
		
		LEFT JOIN j_purchase_order purchaseOrder ON purchaseOrder.id = a.purchase_order_no
		LEFT JOIN sys_user createBy ON createBy.id = a.create_by
		LEFT JOIN sys_user updateBy ON updateBy.id = a.update_by
	</sql>
	
    
	<select id="get" resultType="StockOrder" >
		SELECT 
			<include refid="stockOrderColumns"/>
		FROM j_stock_order a
		<include refid="stockOrderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="StockOrder" >
		SELECT 
			<include refid="stockOrderColumns"/>
		FROM j_stock_order a
		<include refid="stockOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="no != null and no != ''">
				AND a.no LIKE 
					<if test="dbName == 'oracle'">'%'||#{no}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{no}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{no},'%')</if>
			</if>
			<if test="status != null">
				AND a.status = #{status}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="StockOrder" >
		SELECT 
			<include refid="stockOrderColumns"/>
		FROM j_stock_order a
		<include refid="stockOrderJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO j_stock_order(
			id,
			no,
			purchase_order_no,
			sum,
			status,
			approve_date,
			cancel_date,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{no},
			#{purchaseOrder.id},
			#{sum},
			#{status},
			#{approveDate},
			#{cancelDate},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE j_stock_order SET 	
			no = #{no},
			purchase_order_no = #{purchaseOrder.id},
			sum = #{sum},
			status = #{status},
			approve_date = #{approveDate},
			cancel_date = #{cancelDate},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM j_stock_order
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE j_stock_order SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="StockOrder" statementType="STATEMENT">
		select * FROM j_stock_order  where ${propertyName} = '${value}'
	</select>
	
</mapper>