<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.StockOrderDetailMapper">
    
	<sql id="stockOrderDetailColumns">
		a.id AS "id",
		a.order_no AS "stockOrder.no",
		a.product_id AS "product.id",
		a.price AS "price",
		a.quantity AS "quantity",
		a.unit AS "unit",
		a.intro AS "intro",
		a.is_retail AS "isRetail",
		a.release_date AS "releaseDate",
		a.expiry_date AS "expiryDate",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
		product.name AS "product.name"
	</sql>
	
	<sql id="stockOrderDetailJoins">
		
			LEFT JOIN j_stock_order b ON b.id = a.order_no
		LEFT JOIN j_product product ON product.id = a.product_id
	</sql>
	
    
	<select id="get" resultType="StockOrderDetail" >
		SELECT 
			<include refid="stockOrderDetailColumns"/>
		FROM j_stock_order_detail a
		<include refid="stockOrderDetailJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="StockOrderDetail" >
		SELECT 
			<include refid="stockOrderDetailColumns"/>
		FROM j_stock_order_detail a
		<include refid="stockOrderDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="stockOrder != null and stockOrder.no != null and stockOrder.no != ''">
				AND a.order_no = #{stockOrder.no}
			</if>
			<if test="isRetail != null and isRetail != ''">
				AND a.is_retail = #{isRetail}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="StockOrderDetail" >
		SELECT 
			<include refid="stockOrderDetailColumns"/>
		FROM j_stock_order_detail a
		<include refid="stockOrderDetailJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO j_stock_order_detail(
			id,
			order_no,
			product_id,
			price,
			quantity,
			unit,
			intro,
			is_retail,
			release_date,
			expiry_date,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{stockOrder.no},
			#{product.id},
			#{price},
			#{quantity},
			#{unit},
			#{intro},
			#{isRetail},
			#{releaseDate},
			#{expiryDate},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE j_stock_order_detail SET 	
			order_no = #{stockOrder.no},
			product_id = #{product.id},
			price = #{price},
			quantity = #{quantity},
			unit = #{unit},
			intro = #{intro},
			is_retail = #{isRetail},
			release_date = #{releaseDate},
			expiry_date = #{expiryDate},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM j_stock_order_detail
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE order_no = #{stockOrder.no}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE j_stock_order_detail SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE order_no = #{stockOrder.no}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="StockOrderDetail" statementType="STATEMENT">
		select * FROM j_stock_order_detail  where ${propertyName} = '${value}'
	</select>
	
</mapper>