<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jxc.mapper.StoreMapper">
    
	<sql id="storeColumns">
		a.id AS "id",
		a.name AS "name",
		a.area AS "area",
		a.address AS "address",
		a.office AS "office.id",
		a.admin AS "admin.id",
		a.lon AS "lon",
		a.lat AS "lat",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
				
				
				
				
		office.name AS "office.name",
				
		admin.name AS "admin.name"
	</sql>
	
	<sql id="storeJoins">
		
		LEFT JOIN sys_office office ON office.id = a.office
		LEFT JOIN sys_user admin ON admin.id = a.admin
	</sql>
	
    
	<select id="get" resultType="Store" >
		SELECT 
			<include refid="storeColumns"/>
		FROM c_store a
		<include refid="storeJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Store" >
		SELECT 
			<include refid="storeColumns"/>
		FROM c_store a
		<include refid="storeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbName == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="area != null and area != ''">
				AND a.area LIKE 
					<if test="dbName == 'oracle'">'%'||#{area}||'%'</if>
					<if test="dbName == 'mssql'">'%'+#{area}+'%'</if>
					<if test="dbName == 'mysql'">concat('%',#{area},'%')</if>
			</if>
			<if test="officeList != null">
				AND a.office in
				<foreach collection="officeList" index="index" item="item" open="(" separator="," close=")">
                	#{item}       
        		</foreach>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Store" >
		SELECT 
			<include refid="storeColumns"/>
		FROM c_store a
		<include refid="storeJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="getAllStore" resultType="Store" >
		SELECT 
			<include refid="storeColumns"/>
		FROM c_store a
		<include refid="storeJoins"/>
		<where>
			a.del_flag = '0'
		</where>
	</select>
	
	<insert id="insert">
		INSERT INTO c_store(
			id,
			name,
			area,
			address,
			office,
			admin,
			lon,
			lat,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag
		) VALUES (
			#{id},
			#{name},
			#{area},
			#{address},
			#{office.id},
			#{admin.id},
			#{lon},
			#{lat},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag}
		)
	</insert>
	
	<update id="update">
		UPDATE c_store SET 	
			name = #{name},
			area = #{area},
			address = #{address},
			office = #{office.id},
			admin = #{admin.id},
			lon = #{lon},
			lat = #{lat},
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM c_store
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE c_store SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Store" statementType="STATEMENT">
		select * FROM c_store  where ${propertyName} = '${value}'
	</select>
	
</mapper>